
  .sidebar-toggle-icon {
    /* position: fixed; */
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10001; /* Ensure it is above other elements */
  }
  
  .content {
    flex: 1;
    padding: 20px;
    margin-left: 40px; /* Adjust based on your layout */
  }
  :host ::ng-deep .sbar{

        top: 81px;
        left: 0;
        width: 14rem;
        height: 100%;
        background: #353d49;
    }

    :host ::ng-deep .p-menuitem-link-active{
      background-color: rgb(117 97 157);
      color: rgb(255 238 247);
    }

    :host ::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content{

      border: none;
      border-radius: 0%;
    }

