.navbar {
    background: #514f6d;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h3, .navbar h5 {
    margin: 0;
    color: #fff;
}

.navbar .user-info {
    display: flex;
    align-items: center;
}

.navbar .user-info h5 {
    margin: 0 10px;
}

.navbar .user-info .role-name {
    color: red;
}

:host ::ng-deep .p-button.p-button-link {
    color: #4338CA;
    background: #bbc1db;
    border: transparent;
}

