@if(userInfo){
    <div class="navbar">
        <p-button  icon = "pi pi-bars" [link] = "true" (click)="onToggleSidebar()">
        </p-button >
        <!-- <i class="pi pi-bars" (click)="onToggleSidebar()"></i> -->
        <div>
            <h3>RoleBasedAuth</h3>
        </div>
        <div class="user-info">
            <h5>{{userInfo.userName}}</h5>
            <h5>|</h5>
            <h5 class="role-name">{{userInfo.roleName}}</h5>
            <p-button severity="info">
                <a (click)="LogOut()">Logout</a>
            </p-button>
        </div>
    </div>
}

