<div style="position: absolute; top: 0; left: 0; width: 100%;">
    <p-menubar>
                <div style="padding: 10px;">
                    <div style="display: flex; position: absolute;top: 0; left: 0; padding: 10px;">
                        <h3>RoleBasedAuth</h3>
                    </div>
                    <div>
                        <p-button>
                            <a style="text-decoration: none; font-weight: bold;" (click)="LogOut()">Logout</a>
                        </p-button>
            
                    </div>
                </div>
    </p-menubar>
    
</div>